/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    padding-top: 100px; 
    /*background-image: url('https://secure.gravatar.com/bg/128013791/eb1762abcc95f91991dcca82fc347515');*/
    background-image: url('http://wallpapers-library.com/images/blue-wallpaper-background/blue-wallpaper-background-10.jpg');
}
footer { margin-top: 100px; }
table, td, th { vertical-align: middle; border: none; }
th { border-bottom: 1px solid #DDD; }
.navbar {
  min-height: 20px;
  background-color: #f47983 !important;
  background-image: none !important;
}

.navbar a.brand { font-size: 18px; }
.navbar a.brand:hover {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
}

footer {
  background-color: #f47983;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 10px 0;
}

a {
    color: #ca426e;
}

.footer-content {
    color:  #ffffff;
    font-size: 24px;
    text-align: center;
}